html,body{
    margin:0;
    padding:0;
}
#table{
    border:1px solid black;
    border-spacing: 0px;
    
}

tr,td,th{
    border:1px solid black ;
    border-radius: 3px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
form input{
display:flex;
flex-direction: column;
}
body{
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
}
#table {
    padding-right: 10px;
    width:70%;
}

.inputs{
    justify-content:center;
    align-items: center;
}
