*{
    
    margin:0;
    padding:0;
}
.col-8.header,.col-4.header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(248,248,248);
}
.col-2.coin{
    margin-top: 15px;
}
.contact{
    display: flex;
}
span{
    color:red;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
header{
    border-bottom: 1px solid #c90b0b;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.ul_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul_li{
    margin-left: 5rem;
}
.ul_link{
    font-size: 1.5rem;
    font-weight: 400;
    color: #475569;
}
.ul_link:hover{
color:rgb(194, 168, 129);
}
.logo_menu{
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}
    .ul_menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        
        text-align: center;
        transition: 0.3s;
       
    }

    .ul_menu.active {
        left: 0;
    }

    .ul_li {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }


.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.ul_menu.active{
    z-index:9999;
}

.col-3.dis{
    display:flex;
}
.slide_text{
    position:absolute;
    top:30%;
    left:20%;
}
.col-6.img img{
    width:100%;
    height:100%;
}
.col6img{
    position:absolute;
    margin-top: 90px;
    margin-left: 300px;
}
.col-6.img img:hover{
    transform:scale(1.1);
}
.col-6.img{
    transition: 0.2s;
}
.col.centr{
text-align: center;
}
.cards{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap ;
}

.instagram-box{
	background-image: url("http://themes.pixelstrap.com/multikart/assets/images/slider/4.jpg");
	background-size: cover;
	background-position: center center;
	display: block;
}
 
.instagram-box img{
	width:100%;
}
 
.instagram-box {
	position: relative;
	background-color: #ff4c3b;
	overflow: hidden;
}
 
.instagram-box img {
	width: 100%;
}
.instagram-box .overlay {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #ff4c3b;
	top: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(3) rotate(90deg);
}
.instagram-box .overlay i {
	font-size: 60px;
	color: #ffffff;
}
.instagram-box:hover .overlay {
	opacity: 0.5;
	transition: 0.5s ease;
	transform: scale(1) rotate(0deg);
}
 
.insta-style.slick-current.instagram-box.overlay{
	opacity: 0.4;
	transform: scale(1) rotate(0deg);
}

.section3 {
	margin-bottom: 80px;
}
 
.banner.parallax {
	background-image: url("http://themes.pixelstrap.com/multikart/assets/images/parallax/1.jpg");
	background-size: cover;
	background-position: center center;
	display: block;
}
 
.banner.parallax {
	background-attachment: fixed;
}
 
.banner {
	padding-top: 120px;
	padding-bottom: 120px;
}
 
.parallax {
	background-attachment: fixed;
}
 
.banner {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 190px;
	padding-bottom: 190px;
	background-position: center;
}
 
.banner-contain h2 {
	color: #ff4c3b;
	font-size: 85px;
	text-transform: uppercase;
}
 
.banner-contain h3 {
	font-size: 60px;
	color: #333333;
	text-transform: uppercase;
	font-weight: 700;
}

.button#mc-submit{
    background-color: red;
}

button.button.btn-danger span{
    color:white;
}
 
.banner-contain h4 {
	color: #777777;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding-top: 10px;
	margin-bottom: -5px;
	line-height: 1.3;
}
.col .centr{
    text-align: center;
}
.workcasual,.workcasual ul{
    display:flex;
justify-content: center;
}
.col.iconflex{
display:flex;
}
.col .centr,.col.WHOWEARWHAT{
text-align: center;
}
.col.images{
display:flex;
}
.container-fluid .flex{
    display:flex;
}
.row.foot{
    background-color: rgb(249,249,249);
    padding-top: 40px;
}
.form-control,.btn.btn-solid{
    margin-top: 10px;
}
.row.padd,.container.paddi{
padding-top: 30px;
padding-bottom: 30px;
}
.carousel-inner.smth.pad{
    padding-top: 30px;
}
.col-7,.row.header{
    padding-top: 10px;
}
.col.hov,.col.iconflex{
    opacity:0.5;
}
.col.hov:hover,.col.iconflex:hover{
    opacity:1;
}

.col.images {
    position: relative;
    width: 50%;
    
  }
  
  .img-fluid.img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .col.images:hover .overlay {
    opacity: 1;
  }
  
  


